<nav>
  <ul class="flex items-center justify-center no-list card-title">
    <li>
      <a class="mx-5"><%= link_to "Home", food_index_path %></a></li>
    <li>
    <li>
      <a class="mx-5"><%= link_to "Create Account", new_food_path %></a></li>
    <li>
    <li>
      <a class="mx-5"><%= link_to "Add Food", new_food_path %></a></li>
    <li>
    <li>
      <a class="mx-5"><%= link_to "Recipe" %></a>
    </li>
  </ul>
</nav>